{% extends "base.html" %}

{% block content %}

<h2>
    {% if editar %}
        Editar usuario
    {% else %}
        Nuevo usuario
    {% endif %}
</h2>

{% if error %}
<p style="color: red;">
    <strong>Error:</strong> {{ error }}
</p>
{% endif %}

<form method="post">

    <p>Nombre:</p>

    <input
        name="nombre"
        value="{{ nombre }}"
        required
    >

    <br><br>

    <button class="btn">

        {% if editar %}
            Guardar
        {% else %}
            Crear
        {% endif %}

    </button>

</form>

<br>

<a class="btn btn-secondary" href="/usuarios">
    Volver
</a>

{% endblock %}